<div tamanioVentana class="container contenedor">
  <div class="row">
    <div class="col m12">
      <mz-card class="" [hoverable]="true">
        <mz-card-title>
          Serverless
        </mz-card-title>
        <mz-card-content>
          Serverless es un tipo de arquitectura donde los servidores (físicos o en la nube) dejan de existir para el desarrollador
          y en cambio el código corre en “ambientes de ejecución” que administran proveedores como Amazon, Google, IBM, etc.
        </mz-card-content>
      </mz-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <mz-card class="" [hoverable]="true">
        <mz-card-title>
          Firebase
        </mz-card-title>
        <mz-card-content>
          Plataforma para el desarrollo de aplicaciones web y aplicaciones móviles desarrollada por James Tamplin y Andrew Lee en 2011
          y adquirida por Google en 2014
        </mz-card-content>
      </mz-card>
    </div>
  </div>
</div>