<mz-navbar navbarClass="blue darken-1" class="navbar-fixed">
  <a href="#" class="brand-logo">Firebase App
  </a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item *ngIf="sesionActiva">
      <a routerLink="usuarios" routerLinkActive="active">
        <i mz-icon [align]="'center'" [icon]="'people'" [size]="'medium'">
        </i>
      </a>
    </mz-navbar-item>
    <mz-navbar-item *ngIf="sesionActiva">
      <a (click)="cerrarSesion();" routerLinkActive="active ">
        <i mz-icon [align]=" 'center' " [icon]=" 'power_settings_new' " [size]=" 'medium' ">
        </i>
      </a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>