<div tamanioVentana class="contenedor">
  <div class="contenedorSesion">

    <mz-card class="" [hoverable]="false">


      <mz-card-content>
        <mz-tab [fixedTabWidth]="'true'" [responsiveThreshold]="'true'">
          <mz-tab-item [label]="'Inicio Sesión'">
            <form [formGroup]="formularioSesion" novalidate>
              <div class="row m-t-2">
                <mz-input-container class="col s12 m12 l12">
                  <i mz-icon mz-input-prefix [icon]="'email'"></i>
                  <input mz-input mz-validation [(ngModel)]="usuario.correo" [label]="'Correo'" formControlName="correo" [errorMessageResource]="mensajesError.correo"
                    id="correo-input" placeholder="ej. nombre@empresa.com" maxlength="200" length="200" type="email">
                </mz-input-container>
              </div>
              <div class="row m-t-1">
                <mz-input-container class="col s12 m12 l12">
                  <i mz-icon mz-input-prefix [icon]="'vpn_key'"></i>
                  <input mz-input mz-validation [(ngModel)]="usuario.clave" [label]="'Clave'" formControlName="clave" [errorMessageResource]="mensajesError.clave"
                    id="clave-input" placeholder="ej. 12345" maxlength="50" length="50" type="password">
                </mz-input-container>
              </div>
              <div class="row">
                <div class="col s12 m12 l12 right-align">
                  <button mz-button class="blue-text" [flat]="true" (click)="iniciarSesion()">
                    Iniciar Sesión
                  </button>
                </div>
              </div>
            </form>
          </mz-tab-item>
          <mz-tab-item [label]="'Registro'">
            <form [formGroup]="formularioRegistro" novalidate>
              <div class="row m-t-2">
                <mz-input-container class="col s12 m12 l12">
                  <i mz-icon mz-input-prefix [icon]="'person'"></i>
                  <input mz-input mz-validation [(ngModel)]="usuarioRegistro.nombre" [label]="'Nombre'" formControlName="nombre" [errorMessageResource]="mensajesError.nombre"
                    id="nombre-inputR" placeholder="ej. Daniel Garcia" maxlength="200" length="200" type="text">
                </mz-input-container>
              </div>
              <div class="row m-t-2">
                <mz-input-container class="col s12 m12 l12">
                  <i mz-icon mz-input-prefix [icon]="'email'"></i>
                  <input mz-input mz-validation [(ngModel)]="usuarioRegistro.correo" [label]="'Correo'" formControlName="correo" [errorMessageResource]="mensajesError.correo"
                    id="correo-inputR" placeholder="ej. nombre@empresa.com" maxlength="200" length="200" type="email">
                </mz-input-container>
              </div>
              <div class="row m-t-1">
                <mz-input-container class="col s12 m12 l12">
                  <i mz-icon mz-input-prefix [icon]="'vpn_key'"></i>
                  <input mz-input mz-validation [(ngModel)]="usuarioRegistro.clave" [label]="'Clave'" formControlName="clave" [errorMessageResource]="mensajesError.clave"
                    id="clave-inputR" placeholder="ej. 12345" maxlength="50" length="50" type="password">
                </mz-input-container>
              </div>
              <div class="row">
                <div class="col s12 m12 l12 right-align">
                  <button mz-button class="blue-text" [flat]="true" (click)="registro()">
                    Enviar datos
                  </button>
                </div>
              </div>
            </form>
          </mz-tab-item>
        </mz-tab>

      </mz-card-content>
    </mz-card>
  </div>
</div>