.contenedorSesion {
    width: 22rem;
    margin: auto;
    margin-top: 3rem;
}

@media (min-width: 322px) {}

@media (min-width: 413px) {}

@media (min-width: 439px) {}

@media (min-width: 500px) {}

@media (min-width: 600px) {
    .contenedorSesion {
        width: 40rem;
        margin: auto;
        margin-top: 6rem;
    }
}

@media (min-width: 993px) {}

@media (min-width: 1023px) {}

@media (min-width: 1025px) {}

@media (min-width: 1200px) {}

@media (min-width: 1330px) {}

@media (min-width: 1400px) {}