<div *ngIf="loaderActivo" id="mantoLoader">
  <div class="preloader pls-blue pl-lg">
      <svg class="pl-circular" viewBox="25 25 50 50">
    <circle class="plc-path" cx="50" cy="50" r="20" />
  </svg>
  </div>
</div>