/* You can add global styles to this file, and also import other style files */

.nav-wrapper {
    padding: 0rem 1rem;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1001;
}

mz-tab-item>div:first-child {
    padding-top: 1rem;
}

form label {
    color: #424242;
}

.input-field .prefix.active {
    color: #9e9e9e;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #757575;
}

.contenedor {
    padding-top: 4rem;
}

nav .brand-logo {
    left: 2rem;
    webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.tabs .tab a {
    color: #2196f3 !important;
}

.tabs .indicator {
    background-color: #2196f3;
}

/*loader*/

#mantoLoader {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-color: #FFFFFF;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    height: calc(100% - 0px);
    color: #004931;
    font-size: 14px;
    text-align: center;
    padding-top: 25%;
    opacity: 0.80;
    z-index: 9999;
    overflow: hidden !important;
}

.preloader {
    position: relative;
    margin: 0px auto;
    display: inline-block;
}

.preloader:not([class*="pl-"]) {
    width: 40px;
}

.preloader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.preloader.pl-xs {
    width: 20px;
}

.preloader.pl-sm {
    width: 30px;
}

.preloader.pl-lg {
    width: 50px;
}

.preloader.pl-xl {
    width: 80px;
}

.preloader.pl-xxl {
    width: 100px;
}

.preloader:not([class*="pls-"]) .plc-path {
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

.preloader[class*="pls-"] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
}

.preloader.pls-red .plc-path {
    stroke: #f44336;
}

.preloader.pls-blue .plc-path {
    stroke: #2196f3;
}

.preloader.pls-green .plc-path {
    stroke: #4caf50;
}

.preloader.pls-yellow .plc-path {
    stroke: #ffeb3b;
}

.preloader.pls-bluegray .plc-path {
    stroke: #607d8b;
}

.preloader.pls-amber .plc-path {
    stroke: #ffa000;
}

.preloader.pls-teal .plc-path {
    stroke: #009688;
}

.preloader.pls-gray .plc-path {
    stroke: #9e9e9e;
}

.preloader.pls-pink .plc-path {
    stroke: #e91e63;
}

.preloader.pls-purple .plc-path {
    stroke: #9c27b0;
}

.pl-circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.plc-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #f44336;
    }
    40% {
        stroke: #2196f3;
    }
    66% {
        stroke: #4caf50;
    }
    80%,
    90% {
        stroke: #ffa000;
    }
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

/*loader*/