<div tamanioVentana class="container contenedor">

  <div class="row">
    <div class="col s12">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Creado</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.fecha | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>